/*style.css*/

	@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');


	body {
		text-align: left;
	}

	img {
	    height: auto; 
	    width: auto; 
	    max-width: 300px; 
	    max-height: 300px;
	}

	h1 {
		color: #454a57;
		font-family: 'Roboto Slab', serif;
	}

	h2{
		color: #454a57;
		font-family: 'Roboto Slab', serif;
		line-height: 0px;
		padding-bottom: 30px;
	}

	h3{
		color: #c9b844;
		font-family: 'Roboto Slab', serif;
		line-height: 0px;
		padding-top: 20px;
	}

	p {
		color: #454a57
	}
		
	ol, ul {
			list-style-type: none;
	  		font-weight: bold;
	  		color: #c9b844;
	  		font-family: 'Roboto Slab', serif;
	}

	li {
		font-weight: normal;
		color: #454a57;
		font-family: 'Roboto', sans-serif;
		padding-bottom: 1px;
	}

	a:link {
    		color: #454a57;
    		text-decoration: underline;
	}

	a:visited {
	    		color: #454a57;
	    		text-decoration: underline;
	}

	a:hover {
	    		color: #c9b844;
	    		text-decoration: underline;
	}

	div.sticky {
    position: sticky;
    top: 0px;
    background: #fff
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.wrapper {
    animation-name: fadein;
    animation-duration: 1.5s;
}
}