style.css

	body {
		text-align: left;
	}

	img {
	    height: auto; 
	    width: auto; 
	    max-width: 300px; 
	    max-height: 300px;
	}

	h1 {
		color: #454a57;
		font-family: 'roboto slab';
	}

	h2{
		color: #454a57;
		font-family: 'roboto slab';
		line-height: 0px;
		padding-bottom: 30px;
	}

	p {
		color: #454a57
	}
		
		ol, ul {
	  font-weight: bold;
	  color: #c9b844;
	  font-family: 'roboto-slab';
	}

	li {
		font-weight: normal;
		color: #454a57;
		font-family: 'roboto';
		padding-bottom: 1px;
	}

	a:link {
    		color: #454a57;
    		text-decoration: underline;
	}

	a:visited {
	    		color: #454a57;
	    		text-decoration: underline;
	}

	a:hover {
	    		color: #c9b844;
	    		text-decoration: underline;
	}